<ion-header>
  <ion-toolbar>
    <ion-title>{{'Заказ' | translate}} №{{authService.addLeadingZeros(item.id)}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper-fluid ion-padding-tabs">
    <div class="body-wrap form-block">
      <div class="autorize">
        <p><b>{{'Ваше предложение по цене' | translate}} {{item.secure_transaction ? '(сум)' : '($)'}}</b></p>
        <input type="text" inputmode="tel" name="name" placeholder="Ваша цена в {{item.secure_transaction ? 'сум' : '$'}}" [(ngModel)]="price">
      </div>
      <button class="reg-btn accept-btn margin-top-15" [disabled]="loadingAccept"
        (click)="acceptOrderFinal()">{{'Отправить предложение' | translate}}
      </button>
    </div>
  </div>
</ion-content>