<app-header></app-header>
<ion-content class="ion-padding">
  <div class="order-item">
    <div class="order-item-articul">
      <span><img src="assets/img/circle.svg" alt=""> №{{authService.addLeadingZeros(authService.activeorder?.id)}}</span>
    </div>
    <table class="table-info table-img">
      <tbody>
        <tr>
          <td>{{'Отправка из' | translate}}:</td>
          <td>{{authService.activeorder.route?.from_city}}</td>
        </tr>
        <tr>
          <td>{{'Доставка в' | translate}}:</td>
          <td>{{authService.activeorder.route?.to_city}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table-data">
      <tbody>
        <tr>
          <td>{{'Время отправки' | translate}}</td>
          <td>{{authService.activeorder?.date_send | date: 'dd MMMM yyyy  HH:mm'}}</td>
        </tr>
        <tr>
          <td>{{'Тип транспорта' | translate}}</td>
          <td>
            <div style="color: #fff;">
              <span *ngIf="authService.activeorder.transport_types">
                <span *ngFor="let type of authService.activeorder?.transport_types; let i = index">
                  {{ returnNameTypeTransport(type) }}
                </span>
              </span>    
              <span *ngIf="authService.activeorder?.transport_type && !authService.activeorder?.transport_types">
                  {{ returnNameTypeTransport(authService.activeorder?.transport_type) }}
              </span>    
            </div>
          </td>
        </tr>
        <tr>
          <td>{{'Тип груза' | translate}}</td>
          <td>{{returnNameCargoType(authService.activeorder?.type_cargo)}}</td>
        </tr>
        <tr *ngIf="authService.activeorder.no_cash">
          <td>{{'Безналичная оплата' | translate}}</td>
          <td>{{'Да'}}</td>
        </tr>
        <tr *ngIf="authService.activeorder.adr">
          <td>{{'ADR' | translate}}</td>
          <td>{{'Да'}}</td>
        </tr>
        <tr *ngIf="authService.activeorder.secure_transaction">
          <td>{{'Безопасная сделка' | translate}}</td>
          <td>{{'Да'}}</td>
        </tr>
        <tr>
          <td>{{'Вес груза' | translate}}</td>
          <td>{{authService.activeorder.weight}} кг.</td>
        </tr>
        <tr>
          <td>{{'Пользователь' | translate}}</td>
          <td>{{authService.activeorder.usernameorder}}</td>
        </tr>
        <tr *ngIf="authService.activeorder.userphoneorder">
          <td>{{'Контакты' | translate}}</td>
          <td>{{authService.activeorder.userphoneorder}}</td>
        </tr>
      </tbody>
    </table>
    <button class="get-order-btn order-succes-btn" (click)="callMan(authService.activeorder.userphoneorder)">{{'Позвонить' |
      translate}}</button>
    <button class="get-order-btn" (click)="finishOrder(authService.activeorder)">{{'Завершить заказ' | translate}}</button>
  </div>
</ion-content>